* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;

}

.hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: -1;
}

.orange-color {
    color: rgba(255,102,0);
}
.navbar-brand {
    font-size: 2.2rem;
    text-transform: uppercase;
}
.navbar-nav, .navbar-toggler-icon {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.navbar-toggler {
    padding: 1em 2em;
}

.home {
    position: relative;
    height: 60rem;
    background-image: url("../img/santorini-2408868_1920.jpg");
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.home .btn {
    padding: 1em 2em;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.home .welcome-text {
    font-size: 2.2rem;
}

.box-bg {
    background-color: rgba(255,102,0);
}

.aboutUS-box h3{
    font-size: 2.4rem;
    font-weight: bold;
    /*text-transform: uppercase;*/
}

.aboutUs-icon {
    font-size: 3rem;
}
